* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}

.middle {
  flex: 1;
}
.buttom {
  width: 100%;
  grid-area: buttom;
}
